/practica09/nbproject/private/
/practica08/nbproject/private/
/practica08/build/
/practica08/dist/
/Practica09/nbproject/private/
/Practica09/build/
/practica10/nbproject/private/
/practica10/build/
/practica11/nbproject/private/
/practica11/build/
/practica12/nbproject/private/
/practica12/build/
/Examen2/nbproject/private/
/Examen2/build/
/practica13/nbproject/private/
/practica13/build/
/practica10 - copia/build/
/practica10 - copia/nbproject/private/
/practica14/build/
/practica14/nbproject/private/
